<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
		<div id="app">
			<ul>
				<!-- 遍历数组：可以用indext获取索引值（下标值） -->
				<li v-for="(item,indext) in name">{{indext+1}}.{{item}}</li>
			</ul>
			<!-- 遍历对象：分别用Key ，value ， indext 可以获取各种数据 -->
			<ul>
				<li v-for="(value,key,indext) in introduction">{{indext+1}}.{{key}}:{{value}}</li>
			</ul>
		</div>
		<script src="js/v2.6.10/vue.js"></script>
		<script>
			const app = new Vue({
				el:'#app',
				data: {
					name: ['JIM', 'aurora', 'Janck'],
					
					introduction: {
						name:'Jim',
						height: 1.88,
						wight: '60kg',
					}
					
				},
			})
		</script>
		
	</body>
</html>
