<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
		<div id="app">
			<!-- 选择一个 -->
			<select name="" id="hoby" v-model="hobby">
				<option value="骑车">骑车</option>
				<option value="篮球">篮球</option>
				<option value="足球">足球</option>
				<option value="羽毛球">羽毛球</option>
			</select>
			<h2>您选择的爱好是：{{hobby}}</h2>
			
			<!-- 选择多个 -->
			
			<select name="" id="hobby" v-model="hobby2" multiple="multiple">
				<option value="骑车">骑车</option>
				<option value="篮球">篮球</option>
				<option value="足球">足球</option>
				<option value="羽毛球">羽毛球</option>
			</select>
			<h2>您选择的爱好是：{{hobby2}}</h2>
			
			
		</div>
		<script src="js/v2.6.10/vue.js"></script>
		<script>
			const app = new Vue({
				el:'#app',
				data:{
					hobby: '羽毛球',
					hobby2: []
				},
			})
		</script>
		
	</body>
</html>
